#navigation {

    #mobile-nav {
        display: flex;
        justify-content: center;
        @media only screen and (min-width: 960px ) {
            display: none;
        }

        #mobile-nav-header {
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #brand {
                width: 60%;
                font-size: 7vw;
            }
    
            #nav-toggle {
                width: 44px;
                height: 44px;
                cursor: pointer;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                transform: scale(0.9, 0.9);
                @include ease;
                &:hover,
                &:active,
                &:focus {
                    transform: scale(1,1);
                }
    
                &.close {
                    .btn-line {
                        &:nth-child(1) {
                            transform: rotate(45deg) translate(5px, 5px);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg) translate(6px, -6px);
                        }
                    }
                }
    
                .btn-line {
                    width: 28px;
                    height: 2px;
                    margin: 3px 0;
                    background: $main-color;
                    @include ease;
                }
            }
        }

        .mobile-nav-body {
            z-index: 10000000000;
            position: absolute;
            top: 20vh;
            width: 100%;
            height: 80vh;
            background: #ffffff;
            display: none;
            justify-content: center;
            align-items: center;

            .mobile-nav-body__links {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                top: -8rem;

                a {
                    font-size: 2rem;
                    padding: .5rem 0;
                }
            }
        }

        .show {
            display: flex;
        }

    }





    #desktop-nav {
        padding: 5rem 0 2.5rem 0;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        @media only screen and (max-width: 960px) {
            display: none;
        }

        #brand {
            margin-right: auto;
        }

        #work {
            margin: 0 1rem 0 0;
        }
    }

}