#scrollup {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 10000;
  cursor: pointer;
  display: none;
  @media only screen and (max-width: 375px) {
    bottom: 10%;
    right: 7.5%;
  }

  #scrollup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    @include ease;
    &:hover {
      transform: scale(1.15);
    }

    i {
      color: #ffffff;
      font-size: 1.3rem;
      background: $main-color;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
