// NAVBAR DESKTOP
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 110;

  .navbar__nav-brand {
    max-width: 260px;
  }

  .navbar__nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navbar__nav-toggle {
    transition: $default-speed;
    &:hover {
      transform: $default-scale;
    }

    i {
      display: none;
      cursor: pointer;
    }
  }

  .navbar__mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background: rgba(#282828, 0.95);
    overflow: hidden;
    transition: $default-speed;

    .navbar__nav-toggle__close {
      padding: 2rem;
      cursor: pointer;
      right: 0;
      display: flex;
      justify-content: flex-end;
      transition: $default-speed;
      &:hover {
        opacity: $default-opacity;
      }

      i {
        display: flex !important;
        width: 44px;
        height: 44px;
        background: $secondary-color;
        border-radius: $default-radius;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        color: $main-color;
      }
    }

    .navbar__mobile-links {
      display: flex;
      flex-direction: column;

      .navbar__nav-link {
        padding: 2rem;
        color: #fff !important;

        &:nth-child(1) {
          border-top: $default-border;
        }

        &:nth-child(2) {
          border-top: $default-border;
          border-bottom: $default-border;
        }

        &:nth-child(3) {
          border-bottom: $default-border;
        }

        &:hover {
          transform: none;
          background-color: $secondary-color;
        }
      }
    }

    .navbar__mobile-language {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      a {
        color: #fff !important;
      }

      i {
        color: #fff !important;
        font-size: 0.4rem;
      }
    }
  }
}

// DARK MODE
.as-dark {
  color: #fff !important;
}

//OTHERS
.show {
  display: block !important;
  right: 0 !important;
}

// RESPONSIVE
@media screen and (max-width: 767px) {
  .navbar {
    padding: 2rem;

    .navbar__nav-links {
      display: none !important;
    }

    .navbar__nav-toggle i {
      display: flex !important;
      width: 44px;
      height: 44px;
      background: $secondary-color;
      border-radius: $default-radius;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      color: $main-color;
    }

    .navbar__mobile-nav {
      // display: block;
      display: none;
    }
  }
}
