// CONTAINER CLASSES
.as-container {
  max-width: 1040px;
  width: 90%;
  margin: 0 auto;
}

.as-row {
  margin: 10rem 0;
}

.grid {
  display: grid;
}

// BREAKPOINTS
@media screen and (max-width: 767px) {
  // 767PX AND DOWN
  .container {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 478px) {
  // 478PX AND DOWN
  .container {
    margin: 0 3rem;
  }

  .row {
    margin: 6rem 0;
  }
}

@media screen and (max-width: 320px) {
  // 320PX AND DOWN
  .container {
    margin: 0 1.5rem;
  }

  .row {
    margin: 3rem 0;
  }
}
