// TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap");

$main-font: "DM Sans", sans-serif;
$secondary-font: "Titillium Web", sans-serif !important;

// COLORS
$main-color: #282828 !important;
$secondary-color: #ffe600 !important;

// TRANSITION
$default-speed: 0.35s;

// TRANSFORM
$default-scale: scale(1.085);
$default-opacity: 0.8;

// BORDERS
$default-radius: 0.3rem;
$default-border: 1px solid rgba(#fff, 0.2);
