.work-categories__wrapper {
  margin-top: 10rem;

  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;

  .work-categories__category {
    position: relative;
    overflow: hidden;

    .main-btn {
      position: absolute;
      bottom: 10%;
      right: 10%;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        gap: 0.75rem;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 767px) {
  .work-categories__wrapper {
    margin-top: 10rem;

    grid-template-columns: repeat(1, auto);
    grid-gap: 1rem;
  }
}
