// UIKIT RESET
a {
  text-decoration: none !important;
}

// PHOTOGRAPHY
.work-photography__showcase-grid {
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;

  .showcase-item__wrapper {
    overflow: hidden;
    position: relative;

    .work-photography__showcase-item {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }
    }

    .showcase-item__description {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      width: 100%;
      height: 12%;
      background-color: rgba(#ffe600, 0.92);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      transition: $default-speed;
      &:hover {
        height: 16%;
      }
    }
  }
}

// FILMMAKING
.work-filmmaking {
  margin-bottom: 12rem;

  .video-showcase-wrapper {
    position: relative;

    .video-showcase-description {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(#ffe600, 0.92);
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99999999;

      &:hover {
        transform: none !important;
        height: 120px;
      }
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 10rem;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// RESPONSIVE
@media screen and (max-width: 767px) {
  .work-photography__showcase-grid {
    grid-template-columns: repeat(1, auto) !important;
  }
}
